 <div>
      <Head>
        <title>OpenAI Quickstart</title>
        <link rel="icon" href="/dog.png" />
      </Head>

      <main className=main>
      <img src="/assets/dog.png" className=icon />
        <h3>Name my pet</h3>
	<form>
          <input 
            type="text"
            name="pet"
            placeholder="Enter an animal"
            [(ngModel)]= "pet"
          />
          <input type="button" name="generatepet" value="Generate names" (click)="postCompletition()" />
		</form>
		<div name="result"> {{result}} </div>
      </main>
</div>
